
<div class="login-container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group>
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group>
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="errorMsg !== ''" nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label>
          <span>{{errorMsg}}</span>
        </label>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
  </form>
</div>
  